{% extends 'base.html' %}

{% block content %}

<h3>I can translate any language into Spanish!</h3>

<form method="post">
    {% csrf_token %}
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Dropdown
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    <input type="text" class="form-control" name="user_input">
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>


{% if response %}
    <div>
        {{ response|safe }}
    </div>
{% endif %}

{% endblock %}